.footer{
    background-color:$background-principal;
    color:$colortext-principal;
    margin-top: 232px;
    text-align: center;

  }
  .footer-grid{
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer .iconosRedes{
    display: flex;
    justify-content: flex-end;
    
}

.instagram,.spotify,.facebook,.youtube{
    color:$colortext-principal;
    height: 12px;
    width: 12px;
}




